@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

h1 {
    background-color: rgba(240, 248, 255, 0.699);
    text-align: center;
    padding: 5%;
    font-size: 3em;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}

#bloco {
    background-color: rgba(88, 88, 88, 0.900);
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    display: block;
}

#texto {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
}

#relogio-bloco {
    padding: 10px;
    position: relative;
}

#relogio-bloco img {
    width: 100%;
    height: auto;
}

#relogio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hora {
    color: rgb(0, 230, 0);
    font-size: 8em;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 10px;
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}