@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-image: url('../imagens/fasesDoDia/madrugadaPequeno.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

h1 {
    background-color: rgba(240, 248, 255, 0.699);
    text-align: center;
    padding: 5%;
    font-size: 3em;
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
}

#container {
    background-color: rgba(88, 88, 88, 0.822);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#texto {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
}

#relogio-container {
    padding: 10px;
    position: relative;
}

#relogio-container img {
    width: 100%;
    height: auto;
}

#relogio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hora {
    color: rgb(0, 230, 0);
    font-size: 9em;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}